<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8" />
  <title>ChitChat-Say Everything</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <link href="./NS_Client/ui/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="./NS_Client/ui/css/metro.css" rel="stylesheet" />
  <link href="./NS_Client/ui/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href="./NS_Client/ui/css/style.css" rel="stylesheet" />
  <link href="./NS_Client/ui/css/style_responsive.css" rel="stylesheet" />
  <link href="./NS_Client/ui/css/style_default.css" rel="stylesheet" id="style_color" />
  <link rel="stylesheet" type="text/css" href="./NS_Client/ui/gritter/css/jquery.gritter.css" />
  <link rel="stylesheet" type="text/css" href="./NS_Client/ui/uniform/css/uniform.default.css" />
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
    <img src="./NS_Client/ui/img/logo-big.png" alt="" /> 
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  
  <div class="span12 row-fluid">
    <div class="content">
  	  <!-- BEGIN LOGIN FORM -->
      <form class="form-vertical login-form">
  	    <h3 class="form-title">Login to your account</h3>
  	    <div class="alert alert-error hide">
  	      <button class="close" data-dismiss="alert"></button>
  	      <span>Enter any username and password.</span>
  	    </div>
  	    <div class="control-group">
  	      <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
  	      <label class="control-label visible-ie8 visible-ie9">Username</label>
  	      <div class="controls">
  	        <div class="input-icon left">
  	          <i class="icon-user"></i>
  	          <input class="m-wrap placeholder-no-fix" type="text" placeholder="Username" id="userlog" name="username"/>
  	        </div>
  	      </div>
  	    </div>
  	    <div class="control-group">
  	      <label class="control-label visible-ie8 visible-ie9">Password</label>
  	      <div class="controls">
  	        <div class="input-icon left">
  	          <i class="icon-lock"></i>
  	          <input class="m-wrap placeholder-no-fix" type="password" placeholder="Password" id="passlog" name="password"/>
  	        </div>
  	      </div>
  	    </div>
  	    <div class="form-actions">
  	      <label class="checkbox">
  	      <input type="checkbox" name="remember" value="1"/> Remember me
  	      </label>
  	      <button class="btn green pull-right" >
  	      Login <i class="m-icon-swapright m-icon-white" id="login"></i>
  	      </button>            
  	    </div>
  	    <div class="forget-password">
  	      <h4>Forgot your password ?</h4>
  	      <p>
  	        no worries, click <a href="javascript:;" class="" id="forget-password">here</a>
  	        to reset your password.
  	      </p>
  	    </div>
  	    <div class="create-account">
  	      <p>
  	        Don't have an account yet ?&nbsp; 
  	        <a href="javascript:;" id="register-btn" class="">Create an account</a>
  	      </p>
  	    </div>
  	  </form>
  	  <!-- END LOGIN FORM -->        
  	  <!-- BEGIN FORGOT PASSWORD FORM -->
  	  <form class="form-vertical forget-form" action="index.html">
  	    <h3 class="">Forget Password ?</h3>
  	    <p>Enter your e-mail address below to reset your password.</p>
  	    <div class="control-group">
  	      <div class="controls">
  	        <div class="input-icon left">
  	          <i class="icon-envelope"></i>
  	          <input class="m-wrap placeholder-no-fix" type="text" placeholder="Email" name="email" />
  	        </div>
  	      </div>
  	    </div>
  	    <div class="form-actions">
  	      <button type="button" id="back-btn" class="btn">
  	      <i class="m-icon-swapleft"></i> Back
  	      </button>
  	      <button type="submit" class="btn green pull-right">
  	      Submit <i class="m-icon-swapright m-icon-white"></i>
  	      </button>            
  	    </div>
  	  </form>
  	  <!-- END FORGOT PASSWORD FORM -->
  	  <!-- BEGIN REGISTRATION FORM -->
  	  <form class="form-vertical register-form" action="index.html">
  	    <h3 class="">Sign Up</h3>
  	    <p>Enter your account details below:</p>
  	    <div class="control-group">
  	      <label class="control-label visible-ie8 visible-ie9">Username</label>
  	      <div class="controls">
  	        <div class="input-icon left">
  	          <i class="icon-user"></i>
  	          <input class="m-wrap placeholder-no-fix" type="text" placeholder="Username" name="username" id="userreg"/>
  	        </div>
  	      </div>
  	    </div>
  	    <div class="control-group">
  	      <label class="control-label visible-ie8 visible-ie9">Password</label>
  	      <div class="controls">
  	        <div class="input-icon left">
  	          <i class="icon-lock"></i>
  	          <input class="m-wrap placeholder-no-fix" type="password" id="register_password" placeholder="Password" name="password"/>
  	        </div>
  	      </div>
  	    </div>
  	    <div class="control-group">
  	      <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
  	      <div class="controls">
  	        <div class="input-icon left">
  	          <i class="icon-ok"></i>
  	          <input class="m-wrap placeholder-no-fix" type="password" placeholder="Re-type Your Password" name="rpassword"/>
  	        </div>
  	      </div>
  	    </div>
  	    <div class="control-group">
  	      <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
  	      <label class="control-label visible-ie8 visible-ie9">Email</label>
  	      <div class="controls">
  	        <div class="input-icon left">
  	          <i class="icon-envelope"></i>
  	          <input class="m-wrap placeholder-no-fix" type="text" id="emailreg" placeholder="Email" name="email"/>
  	        </div>
  	      </div>
  	    </div>
  	    <div class="control-group">
  	      <div class="controls">
  	        <label class="checkbox">
  	        <input type="checkbox" name="tnc"/> I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
  	        </label>  
  	        <div id="register_tnc_error"></div>
  	      </div>
  	    </div>
  	    <div class="form-actions">
  	      <button id="register-back-btn" type="button" class="btn">
  	      <i class="m-icon-swapleft"></i>  Back
  	      </button>
  	      <button type="submit" id="register-submit-btn" class="btn green pull-right">
  	      Sign Up <i class="m-icon-swapright m-icon-white"></i>
  	      </button>            
  	    </div>
  	  </form>
  	  <!-- END REGISTRATION FORM -->
  	</div>
  	<!-- END LOGIN -->
  </div>

  <!-- BEGIN COPYRIGHT -->
  <div class="copyright">
    2015 &copy; ChitChat. Say Everything.
  </div>

  <!-- END COPYRIGHT -->
  <!-- BEGIN JAVASCRIPTS -->
     		<script src="./NS_Client/jquery-1.11.2.min.js"></script>
  		<script src="./NS_Client/js/util.js"></script>
  		<script src="./NS_Client/js/debug.js"></script>
  		<script src="./NS_Client/js/jsbn.js"></script>
  		<script src="./NS_Client/js/oids.js"></script>
  		<script src="./NS_Client/js/asn1.js"></script>
  		<script src="./NS_Client/js/sha1.js"></script>
  		<script src="./NS_Client/js/sha256.js"></script>
  		<script src="./NS_Client/js/md5.js"></script>
  		<script src="./NS_Client/js/md.js"></script> 
  		<script src="./NS_Client/js/prng.js"></script>
  		<script src="./NS_Client/js/random.js"></script>
  		<script src="./NS_Client/js/jsbn.js"></script> 
  		<script src="./NS_Client/js/pkcs1.js"></script>
  		<script src="./NS_Client/js/rsa.js"></script>
  		<script src="./NS_Client/js/cipherModes.js"></script>
  		<script src="./NS_Client/js/cipher.js"></script>
  		<script type="text/javascript" src="./NS_Client/js/aes.js"></script>
  		<script type="text/javascript" src="./NS_Client/js/des.js"></script>
  		

  		<script src="./NS_Client/js/rc2.js"></script>
  		<script src="./NS_Client/js/pbe.js"></script>
  		<script src="./NS_Client/js/pem.js"></script>
  		<script src="./NS_Client/js/hmac.js"></script>
  		<script src="./NS_Client/js/pbkdf2.js"></script>
  		<script src="./NS_Client/js/pkcs7asn1.js"></script>
  		<script src="./NS_Client/js/pkcs12.js"></script>
  		<script src="./NS_Client/js/pss.js"></script>
  		<script src="./NS_Client/js/mgf1.js"></script>
  		<script src="./NS_Client/js/mgf.js"></script>
  		<script src="./NS_Client/js/x509.js"></script>
  		<script src="./NS_Client/js/pki.js"></script>

          <script src="./NS_Client/json2.js"></script>

          <script src="./NS_Client/jstorage.js"></script>
          <script src="./NS_Client/key-management.js"></script>

          <script src="./NS_Client/index.js"></script>
  		
          <script src="./NS_Client/RSAEncryption.js"></script>
          <script src="./NS_Client/AESEncryption.js"></script>
          <script src="./NS_Client/hashing.js"></script>
  		<script src="./NS_Client/session/registration.js"></script>
          <script src="./NS_Client/session/login.js"></script>


  <script src="./NS_Client/ui/bootstrap/js/bootstrap.min.js"></script>  
  <script src="./NS_Client/ui/uniform/jquery.uniform.min.js"></script> 
  <script src="./NS_Client/ui/js/jquery.blockui.js"></script>
  <script type="text/javascript" src="./NS_Client/ui/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="./NS_Client/ui/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="./NS_Client/ui/js/app.js"></script>
  <script>
    jQuery(document).ready(function() {     
      App.initLogin();
    });


    $(function(){
    	$("#register").click(function(data){
    		var reg = new Registration();
	        reg.performRegistration($("#userreg").val() , $("#emailreg").val() , $("#passreg").val());

    	})

    	$("#login").click(function(event){

    		
            var log = new Login();
            log.performLogin($("#userlog").val() , $("#passlog").val())
    	})
    })
  </script>
  <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>